<% vehicle_config_guide = vehicle_config_guide || nil %>
<% vehicle_config = vehicle_config || nil %>

<div class="guide-card row-card<%=instance.latest_image.present? ? " has-thumbnail" : nil%>">
  <div class="card-header">
    <div class="image">
      <% if instance.latest_image.present? %>
        <span class="img" style="background-image:url(<%=instance.latest_image.attachment_url%>)"></span>
      <% else %>
        <span class="img"><span class="fa fa-pencil"></span></span>
      <% end %>
    </div>
    
    <div class="details">
      <div class="details-inner">
        <div class="name">
          <%=link_to instance.title, faqs_admin_url(instance.slug || instance.id) %>
        </div>
        <div class="synopsis"><%=instance.markup.present? ? strip_tags(instance.markup).truncate_words(10) : nil%></div>
        
        <%
=begin%>
 <ul class="meta">
          <li><span class="author"><%=instance.author[:name]%></span></li>
          <li><span class="divider">&middot;</span></li>
          <li><span class="date"><%=time_ago_in_words(instance.updated_at)%></span>
          <li><span class="divider">&middot;</span>
          <li><span class="reading_time"><%=instance.reading_time%> min read</span>
          <% if vehicle_config.present? %>
          <li><span class="divider">&middot;</span></li>
          <li><span class="action"><%=admin_link_to("Edit", admin: :vehicle_config_guides, action: :edit, dialog: true, params: { edit: true, id: vehicle_config_guide.id, vehicle_config_id: vehicle_config.blank? ? nil : vehicle_config.id } )%></span></li>
          <% end %>
        </ul> 
<%
=end%>
      </div>
    </div>
  
    <div class="actions">
    <% if vehicle_config_guide.present? && vehicle_config_guide.vehicle_config_type.present? %>
      <% difficulty = vehicle_config_guide.vehicle_config_type %>
      <div class="difficulty type-<%=difficulty.name.parameterize%>">
        <%=difficulty.name%>
      </div>
    <% end %>
    </div>
  </div>
</div>
