<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122297332-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-122297332-2');
    </script>

    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>

    <% if Trestle.config.turbolinks %>
      <meta name='turbolinks-cache-control' content='no-cache'>
      <meta name="turbolinks-root" content="<%= Trestle.config.path %>">
    <% end %>

    <%= csrf_meta_tags %>
    <%= display_meta_tags reverse: true,
        site: Trestle.config.site_title,
        og: {
          title: :title,
          site_name: :site,
          icon: asset_url("/favicon.png?ver=3"),
        } %>
    <link rel="icon" type="image/x-icon" class="js-site-favicon" href="<%=asset_url("/favicon.ico?ver=3")%>">
    <%= stylesheet_link_tag "trestle/admin", 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "trestle/application", 'data-turbolinks-track': 'reload' %>

    <%= hook :stylesheets %>
    <meta name="google-site-verification" content="wzUq9W4tsEGM-31xA9PRgWF5yZtdI7auV6XZ50EZ8sw" />
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <%if Rails.env == "production"%>
      <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
      <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <% else %>
      <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
      <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <% end %>
    <link rel="mask-icon" href="<%=File.join(root_url,"favicon.svg")%>" color="#000000">
    <link rel="fluid-icon" href="<%=asset_url("/fluidicon.png")%>" title="Openpilot Community">
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <%= javascript_include_tag "turbolinks" if Trestle.config.turbolinks %>
    <%= javascript_include_tag "trestle/admin", 'data-turbolinks-track': 'reload' %>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript">
    <% Trestle.config.javascript_i18n_keys.each do |key| %>
      Trestle.i18n['<%= key %>'] = "<%= escape_javascript(t(key, default: t(key, locale: :en))) %>";
    <% end %>
    Trestle.localize(<%= i18n_fallbacks.map { |l| "'#{l}'" }.join(", ").html_safe %>);
    </script>
    

    <%= content_for(:head) %>

    <%= hook :head %>
  </head>

  <body class='<%=raw "controller-#{controller.controller_path.parameterize.dasherize} action-#{controller.action_name.parameterize}" %> <%=raw "sidebar-#{cookies["trestle:sidebar"]}" if cookies["trestle:sidebar"] %>'>
   
    <div class="app-wrapper <% if !current_user.blank? %><%if current_user.is_visitor?%>is-visitor<% end %> <%if current_user.is_admin?%>is-admin<% end %> <%if current_user.is_editor?%>is-editor<% end %> <%if current_user.is_super_admin?%>is-super-admin<% end %><% end %>">
      <%= render "trestle/shared/sidebar" %>

      <div class="app-container">
        <%#= render "trestle/shared/header" %>

        <main class="app-main" data-context="<%= request.fullpath %>">
          <%= content_for?(:content) ? yield(:content) : yield %>
        </main>

        <%= render "trestle/shared/footer" %>
      </div>
    </div>
    
    
    
    <%= hook :javascripts %>
     <script id="dsq-count-scr" src="//openpilot-community.disqus.com/count.js" async></script>
  </body>
</html>