<% combined_title = instance.title %>
<% friendly_time = time_ago_in_words(instance.updated_at).gsub(/ .+/, { 
  ' minute'=> 'm', ' minutes'=>'m', 
  ' hour' => 'h', ' hours' => 'h', 
  ' day' => 'd', ' days' => 'd', 
  ' month' => 'mo', ' months' => 'mo', 
  ' year' => 'y', ' years' => 'y'
}) %>
<div class="topic-card row-card">
  <div class="card-header">
    <div class="image">
      <% if instance.user.avatar.attached? %>
        <span class="img" style="background-image:url(<%=instance.user.avatar_url%>)"></span>
      <% else %>
        <span class="img"><span class="fa fa-comment"></span></span>
      <% end %>
    </div>

    <div class="details">
      <div class="details-inner">
        <div class="short-header">
          <span class="heading">
            <%=instance.user.name%>
          </span>
          <span class="divider">
          &middot;
          </span>
          <span class="subheading">
            <%=friendly_time%>
          </span>
          <span class="subsubheading">
            <%=instance.messageboard.name%>
          </span>
        </div>
        <div class="name">
          <span><%=combined_title%></span>
        </div>
        <ul class="meta">
          <li><a href="#" data-tooltip="0 likes"><span target="_blank" class="fa fa-heart"></span> <span target="_blank" class="count">0</span></a></li>
          <li><a href="#" data-tooltip="0 likes"><span target="_blank" class="fa fa-comment"></span> <span target="_blank" class="count"><%=instance.posts_count%></span></a></li>
        </ul>
      </div>
    </div>
    
    <div class="actions">
      <%#=content_tag(:div, nil, class: "follow-button", data: row_state)%>
    </div>
  </div>
</div>