<% friendly_time = time_ago_in_words(instance.updated_at).gsub(/ .+/, { 
  ' minute'=> 'm', ' minutes'=>'m', 
  ' hour' => 'h', ' hours' => 'h', 
  ' day' => 'd', ' days' => 'd', 
  ' month' => 'mo', ' months' => 'mo', 
  ' year' => 'y', ' years' => 'y'
}) %>
<div class="topic-card expanded row-card">
  <div class="card-header">
    <div class="image">
      <% if instance.user.avatar.attached? %>
        <span class="img" style="background-image:url(<%=instance.user.avatar_url%>)"></span>
      <% else %>
        <span class="img"><span class="fa fa-comment"></span></span>
      <% end %>
    </div>
    <div class="details">
      <div class="details-inner">
        <div class="short-header">
          <span class="heading">
            <%=instance.user.name%>
          </span>
          <span class="divider">
          &middot;
          </span>
          <span class="subheading">
            <%=friendly_time%>
          </span>
          <% if is_first_post %>
          <span class="subsubheading">
            <%=instance.messageboard.name%>
          </span>
          <% end %>
        </div>
        <div class="name">
          
        </div>
      </div>
    </div>
  </div>
  <div class="card-content">
    <% if is_first_post %>
    <h1><%=instance.postable.title%></h1>
    <% end %>
    
    <%=instance.filtered_content(self, local_assigns[:options] || {})%>
  </div>
</div>
