<div class="guide-card<%=instance.image.attached? ? " has-thumbnail" : nil%>">
<% if instance.image.attached? %>
<div class="image">
  <span class="img" style="background-image:url(<%=instance.image.service_url%>)">
  </span>
</div>
<% end %>
<div class="details">
  <div class="detail-inner">
    <div class="title"><%=instance.title%></div>
    <div class="synopsis"><%=strip_tags(instance.markup).truncate_words(25)%></div>
    <div class="meta">
    <span class="author"><%=instance.user.github_username%></span>
    <span class="divider">&middot;</span>
    <span class="date"><%=instance.friendly_date%></span>
    <span class="divider">&middot;</span>
    <span class="reading_time"><%=instance.reading_time%> min read</span></div>
  </div>
</div>
</div>