<div class="row-card guide-card<%=instance.image.attached? ? " has-thumbnail" : nil%>">
  <% if instance.image.attached? %>
  <div class="image">
    <span class="img" style="background-image:url(<%=instance.image.service_url%>)">
    </span>
  </div>
  <% end %>
  <% if vehicle_config_guide.present? && vehicle_config_guide.vehicle_config_type.present? %>
    <% difficulty = vehicle_config_guide.vehicle_config_type %>
    <div class="difficulty type-<%=difficulty.name.parameterize%>">
      <%=difficulty.name%>
    </div>
  <% end %>
  <div class="details">
    
    <div class="detail-inner">
      <div class="title"><%=instance.title%></div>
      <div class="synopsis"><%=strip_tags(instance.markup).truncate_words(25)%></div>
      <div class="meta">
        <span class="author"><%=instance.author_name%></span>
        <span class="divider">&middot;</span>
        <span class="date"><%=instance.friendly_date%></span>
        <span class="divider">&middot;</span>
        <span class="reading_time"><%=instance.reading_time%> min read</span>
        <%if vehicle_config.present?%>
          <span class="divider">&middot;</span>
          <span class="action"><%=admin_link_to("Edit", admin: :vehicle_config_guides, action: :edit, dialog: true, params: { edit: true, id: vehicle_config_guide.id, vehicle_config_id: vehicle_config.blank? ? nil : vehicle_config.id } )%></span>
        <% end %>
      </div>
    </div>
  </div>
</div>