<% title "Download Workbench" %>
<div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
  <div class="download-logo"><%=image_tag('workbench-icon.png', style: "width:150px;margin:0 auto;display:block;")%></div>
  <h1 class="mt-2 mb-2 text-center">Workbench</h1>
  <h3 class="mt-2 mb-4 text-center">Easily connect and manage your EON</h3>
  <div class="download-gif">
  <%=video_tag("https://s3.us-east-2.amazonaws.com/vehicledb-storage/connect-to-workbench.mp4", muted: true, autoplay: true, loop: true, style: "width:100%;")%>
  </div>
  <hr />
  <h3 class="mt-5 mb-2 text-center">Download Workbench</h3>
  <div class="btn-group d-flex mx-auto">
    <% @releases.keys.each do |key| %>
      <% release = @releases[key] %>
      <a href="<%=release[:download_link]%>" class = "btn btn-dark flex-fill" style="font-size:22px; border-left:1px solid rgba(0,0,0,0.5);">
        <%=release[:os_name]%>
      </a>
    <% end %>
  </div>
  <hr /><h4 class="mt-5 mb-2 text-center">Connecting to EON in Seconds!</h4>
  <p class="text-center">With Workbench, you don’t even have to think about connecting. Just open, scan and click EON to jump into a shell in seconds.</p>
  <p class="text-center"><%=image_tag('https://cdn-images-1.medium.com/max/800/1*nTeYuvhpcYwh_eR0S37r9w.gif', style: "width:100%;margin:0 auto;display:block;")%></p>
  <p class="text-center">Never fuss with installing SSH keys, or finding the IP of your EON again!</p>
  <hr /><h4 class="mt-5 mb-2 text-center">Installing Openpilot with Ease!</h4>
  <p class="text-center">You no longer need to worry about how to install a fork, or remember those pesky git commands. Workbench remembers for you!</p>
  <p class="text-center"><%=image_tag('https://cdn-images-1.medium.com/max/800/1*yV-pfy4ZkCwy8UtBF8zYeg.gif', style: "width:100%;margin:0 auto;display:block;")%></p>
  <hr /><h4 class="mt-5 mb-2 text-center">and reboot to boot!</h4>
  <p class="text-center"><%=image_tag('https://cdn-images-1.medium.com/max/800/1*YQY4D0QUNLANo-kMLDjJLQ.gif', style: "width:100%;margin:0 auto;display:block;")%></p>
  <hr /><h4 class="mt-5 mb-2 text-center">Take a screenshot</h4>
  <p class="text-center">Ever wanted to show someone something on your EON screen but holding down all the buttons in the world doesn’t land you a nice clean screenshot?</p>
  <p class="text-center">Now you get screenshots delivered directly to your desktop with 2 clicks.</p>
  <p class="text-center"><%=image_tag('https://cdn-images-1.medium.com/max/800/1*fbEUB-u3g713OPP35nJofQ.gif', style: "width:100%;margin:0 auto;display:block;")%></p>
  <hr /><h4 class="mt-5 mb-2 text-center">Tmux for free?</h4>
  <p class="text-center">You can see the same messages as with <code>tmux a</code> except without the <code>tmux a</code></p>
  <p class="text-center">Simply click on Log Messages. And… you can toggle the depth, pause the message and freeze it in place, and press play to pick back up where you left off. (and soon(tm), you’ll be navigating through the messages.</p>
  <p class="text-center"><%=image_tag('https://cdn-images-1.medium.com/max/800/1*zw_6YIJjm2EVOhzK7SoNZg.gif', style: "width:100%;margin:0 auto;display:block;")%></p>
  <hr /><h4 class="mt-5 mb-2 text-center">Sample CAN data</h4>
  <p class="text-center"><%=image_tag('https://cdn-images-1.medium.com/max/800/1*lUW0NtkSWHstBJWnUiOMBQ.gif', style: "width:100%;margin:0 auto;display:block;")%></p>
  <p class="text-center">❤ jfrux</p>
</div>
<a href="/" class="btn btn-dark" style="position:absolute;top:15px;left:15px;color:#FFF;"><span class="fa fa-home"></span> Openpilot Community</a>
<a href="https://github.com/openpilot-community/workbench"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>