<%= display_meta_tags reverse: true,
  site: "Workbench",
  og: {
    title: "Download Workbench",
    site_name: "Openpilot Community",
    icon: asset_url("/workbench-icon.png?ver=1"),
    image: asset_url("/workbench-screenshot.png")
  } %>
<div class="login-block col-lg-6 col-md-8 col-sm-10 mx-auto">
  <div class="download-logo"><%=image_tag('workbench-icon.png', style: "width:150px;margin:0 auto;display:block;")%></div>
  <h4 class="mt-2 mb-2 text-center">Easily connect and manage your EON</h4>
  <div class="download-gif">
  <%=video_tag("https://s3.us-east-2.amazonaws.com/vehicledb-storage/connect-to-workbench.mp4", muted: true, autoplay: true, loop: true, style: "width:100%;")%>
  </div>

  <h5 class="mt-3 text-center">Download Latest Release</h5>
  <div class="btn-group d-flex mx-auto">
    <% @releases.keys.each do |key| %>
      <% release = @releases[key] %>
      <% if !(release[:os_name] == @release_info[:os_name]) %>
        <a href="<%=release[:download_link]%>" class = "btn btn-dark flex-fill">
          <%=release[:os_name]%>
        </a>
      <% end %>
    <% end %>
  </div>
</div>