<% title = "#{@trim.name_for_docs}" %>
<% content_for(:title, title) %>
<% breadcrumb(title) %>
<div class="profile">
  <div class="profile-content">
    <h1><%=@trim.name_for_docs%></h1>
    <%=render "global_alert"%>
    <p>
    Openpilot has some compatibility with the <strong><%=@model.name %></strong> and this page serves as a general overview of the model.
    This page has the most specific information about a particular trim and what is required to get Openpilot working.</p>

    <p>The goal is to always support as many vehicles as possible.</p>

    <% if !@make.slack_channel.blank? %>
    <p>
      To chat about the <%=@config.vehicle_make.name%> <%=@config.vehicle_model.name%> with the community, checkout the <a href="slack://channel?team=comma&id=<%=@make.slack_channel%>">#<%=@make.slack_channel%></a> channel in the <a href="https://slack.comma.ai" target="_blank">Comma Slack</a>.
    </p>
    <% end %>

    <h2>Configurations</h2>

    <p>Many trims have configurations available that support Openpilot.</p>
    <p>We're trying to make it easy to compare each configuration so you can see what capabilities you gain from using Openpilot and which capabilities you unfortunately sometimes lose with Openpilot.</p>
    <p>These configurations are one of 4 setups: Factory, Standard, Basic and Advanced.</p>
    
    <%=render "_capabilities_chart" %>
  </div>

  <div class="profile-sidebar">
    <div class="profile-sidebar-inner">
      <% if @trim.image.attached? %>
        <div class="profile-image">
          <%=image_tag(@trim.image.service_url)%>
        </div>
      <% end %>

      <div class="specs">
        <div class="spec">
          <span class="key">
            Name
          </span>
          <span class="value">
            <%=@trim.name%>
          </span>
        </div>

        <div class="spec">
          <span class="key">
            Inventory Price
          </span>
          <span class="value">
            <%=@trim.inventory_prices%>
          </span>
        </div>
        <div class="spec">
          <span class="key">
            MPG
          </span>
          <span class="value">
            <%=@trim.mpg%>
          </span>
        </div>
        <div class="spec">
          <span class="key">
            Engine
          </span>
          <span class="value">
            <%=@trim.engine%>
          </span>
        </div>
        <div class="spec">
          <span class="key">
            Transmission
          </span>
          <span class="value">
            <%=@trim.trans%>
          </span>
        </div>
        <div class="spec">
          <span class="key">
            Drive
          </span>
          <span class="value">
            <%=@trim.drive%>
          </span>
        </div>
        <div class="spec">
          <span class="key">
            Colors
          </span>
          <span class="value">
            <%=@trim.colors%>
          </span>
        </div>
        <div class="spec">
          <span class="key">
            Seats
          </span>
          <span class="value">
            <%=@trim.seats%>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>