<% title = "#{@trim.name_for_docs}" %>
<% content_for(:title, title) %>
<% breadcrumb(title) %>
<div class="profile">
  <div class="profile-content">
    <h1><%=@trim.name_for_docs%></h1>
    <%=render "global_alert"%>
    <p>
    Openpilot has some compatibility with the <strong><%=@model.name %></strong> and this page serves as a general overview of the model.
    This page has the most specific information about a particular trim and what is required to get Openpilot working.</p>

    <p>The goal is to always support as many vehicles as possible.</p>

    <div class="alert alert-warning">
      <span class="fa fa-comment" style="font-size:25px; margin-right:20px;"></span> To chat about the <%=@make.name%> <%=@model.name%> with the community, <% if !@make.slack_channel.blank? %><a href="slack://channel?team=comma&id=<%=@make.slack_channel%>">checkout the #<%=@make.slack_channel%></a> channel in the<% else %> join the conversation on the <% end %> <a href="https://comma.slack.com/" target="_blank">Comma Slack</a>.
    </div>

    <h2>Configurations</h2>

    <p>Many trims have configurations available that support Openpilot.</p>
    <p>We're trying to make it easy to compare each configuration so you can see what capabilities you gain from using Openpilot and which capabilities you unfortunately sometimes lose with Openpilot.</p>
    <p>These configurations are one of 4 setups: Factory, Standard, Basic and Advanced.</p>
    
    <% if @config.present? %>
      <%=render "capabilities_chart" %>
    <% else %>
    <div class="alert alert-warning">
      <div>
        <h3 style="margin:0;">You can help us port it!</h3>
        <p>At this time, we haven't gathered enough information or began porting this <%=@make.name%> model.  But perhaps that will change very soon!</p>
        <p>If you're a developer, you could easily begin the journey of your first Openpilot port of your car. Doing a port once, makes it work for everyone with this same vehicle and helps the community thrive.</p>
      </div>
    </div>
    <% end %>
  </div>

  <div class="profile-sidebar">
    <div class="profile-sidebar-inner">
      <% if @trim.image.present? && @trim.image.attached? %>
        <div class="profile-image">
          <%=image_tag(@trim.image.service_url)%>
        </div>
      <% end %>

      <div class="specs">
        <div class="spec">
          <span class="key">
            Name
          </span>
          <span class="value">
            <%=@trim.name%>
          </span>
        </div>

        <div class="spec">
          <span class="key">
            Inventory Price
          </span>
          <span class="value">
            <%=@trim.inventory_prices%>
          </span>
        </div>
        <div class="spec">
          <span class="key">
            MPG
          </span>
          <span class="value">
            <%=@trim.mpg%>
          </span>
        </div>
        <div class="spec">
          <span class="key">
            Engine
          </span>
          <span class="value">
            <%=@trim.engine%>
          </span>
        </div>
        <div class="spec">
          <span class="key">
            Transmission
          </span>
          <span class="value">
            <%=@trim.trans%>
          </span>
        </div>
        <div class="spec">
          <span class="key">
            Drive
          </span>
          <span class="value">
            <%=@trim.drive%>
          </span>
        </div>
        <div class="spec">
          <span class="key">
            Colors
          </span>
          <span class="value">
            <%=@trim.colors%>
          </span>
        </div>
        <div class="spec">
          <span class="key">
            Seats
          </span>
          <span class="value">
            <%=@trim.seats%>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>