<% title "Join Comma.ai Discord" %>
<div class="col-lg-6 col-md-10 col-sm-10 mx-auto">
  <div class="download-logo mt-5" ><%=image_tag('https://discordapp.com/assets/e7a3b51fdac2aa5ec71975d257d5c405.png', style: "width:350px!important;margin:0 auto;display:block;")%></div>
  <h3 class="mt-2 mb-4 text-center"><span style="font-weight:200;">You're invited to join the new</span>
  <br />Comma.ai Community Discord</h3>
  <p class="mt-3 text-center" style="font-size:16px;"><%=@desc%></p>
  <p class="mt-5 text-center">
    <a href="https://discord.gg/Wyna3qy" target="_blank" class="btn btn-primary btn-block flex-fill" style="background-color:#7289DA; border-color:#7289DA; font-size:20px; border-left:1px solid rgba(0,0,0,0.5);">Join the <strong>Comma.ai Discord</strong></a>
  </p>
  <p class="mt-5 text-center" style="font-size:16px;">Already accepted the invite?</p>
  <p class="mt-2 mb-5 text-center">
    <a href="https://discordapp.com/channels/@me" target="_blank" class="btn btn-dark btn-block flex-fill" style=" font-size:20px; border-left:1px solid rgba(0,0,0,0.5);">Log In to Discord</strong></a>
  </p>
<%
=begin%>
  
  <p class="text-center"><%=image_tag('https://cdn-images-1.medium.com/max/800/1*nTeYuvhpcYwh_eR0S37r9w.gif', style: "width:100%;margin:0 auto;display:block;")%></p>
  <p class="text-center">Never fuss with installing SSH keys, or finding the IP of your EON again!</p>
  <hr /><h4 class="mt-5 mb-2 text-center">Installing Openpilot with Ease!</h4>
  <p class="text-center">You no longer need to worry about how to install a fork, or remember those pesky git commands. Workbench remembers for you!</p>
  <p class="text-center"><%=image_tag('https://cdn-images-1.medium.com/max/800/1*yV-pfy4ZkCwy8UtBF8zYeg.gif', style: "width:100%;margin:0 auto;display:block;")%></p>
  <hr /><h4 class="mt-5 mb-2 text-center">and reboot to boot!</h4>
  <p class="text-center"><%=image_tag('https://cdn-images-1.medium.com/max/800/1*YQY4D0QUNLANo-kMLDjJLQ.gif', style: "width:100%;margin:0 auto;display:block;")%></p>
  <hr /><h4 class="mt-5 mb-2 text-center">Take a screenshot</h4>
  <p class="text-center">Ever wanted to show someone something on your EON screen but holding down all the buttons in the world doesn’t land you a nice clean screenshot?</p>
  <p class="text-center">Now you get screenshots delivered directly to your desktop with 2 clicks.</p>
  <p class="text-center"><%=image_tag('https://cdn-images-1.medium.com/max/800/1*fbEUB-u3g713OPP35nJofQ.gif', style: "width:100%;margin:0 auto;display:block;")%></p>
  <hr /><h4 class="mt-5 mb-2 text-center">Tmux for free?</h4>
  <p class="text-center">You can see the same messages as with <code>tmux a</code> except without the <code>tmux a</code></p>
  <p class="text-center">Simply click on Log Messages. And… you can toggle the depth, pause the message and freeze it in place, and press play to pick back up where you left off. (and soon(tm), you’ll be navigating through the messages.</p>
  <p class="text-center"><%=image_tag('https://cdn-images-1.medium.com/max/800/1*zw_6YIJjm2EVOhzK7SoNZg.gif', style: "width:100%;margin:0 auto;display:block;")%></p>
  <hr /><h4 class="mt-5 mb-2 text-center">Sample CAN data</h4>
  <p class="text-center"><%=image_tag('https://cdn-images-1.medium.com/max/800/1*lUW0NtkSWHstBJWnUiOMBQ.gif', style: "width:100%;margin:0 auto;display:block;")%></p>
  <p class="text-center">❤ jfrux</p> 
<%
=end%>
</div>