<% status = vehicle_config.status_classes %>
<a target="_blank" class="label label-<%=status[:color]%> repo-link" data-toggle="tooltip" title="<%=status[:tooltip]%>" href="<%=status[:url]%>">
  <span class="<%=status[:icon]%>"></span> <%=status[:label]%>
</a>