<div class="vehicle-name"><%=link_to("<strong>#{instance.vehicle_make.name} #{instance.vehicle_model.name}</strong>, #{instance.year_range_str}".html_safe)%></div>
<div class="vehicle-byline">
<span>Last Updated <%=time_ago_in_words(instance.updated_at)%> ago
</div>
<ul class="meta">
<li>
  <%=render "difficulty_label", vehicle_config: instance%>
</li>
<li>
  <%=render "config_status", vehicle_config: instance%>
</li>
<!--
<li>
  <% status = instance.status_classes %>
  <a target="_blank" class="label label-default repo-link" href="<%=status[:url]%>"><%=status[:label]%></a>
</li>
-->
</ul>