<% content_for(:primary_toolbar) do %>
  <%= admin_link_to action: :new, title: "Title", class: "btn btn-default btn-lg" do %>
    <%= icon("fa fa-pencil-square-o") %>
    <span class="sr-only"><%= admin.t("buttons.new", default: "New %{model_name}") %></span>
  <% end if admin.actions.include?(:new) %>
  <%= admin_link_to("<span class=\"fa fa-link\"></span> <span class=\"sr-only\">From URL</span>".html_safe, admin: :guides, action: :new, class: "btn btn-default btn-lg", params: { from_url: true }) if admin.actions.include?(:new) %>
<% end %>
<div class="list-content-wrap<% if admin.scopes.any?%> show-scopes<% end %>">
  <div class="list-content-table"  style="<%=(admin.scopes.any? ? 'flex:0 0 100%;' : 'flex: 0 0 100%;')%>">
    <%= render layout: "layout" do %>
      <% if hook?("resource.index.header") %>
        <header class="main-content-header">
          <%= hook("resource.index.header") %>
        </header>
      <% end %>
      <%= render "trestle/shared/fundraiser" %>
      <%= render "trestle/table/table", table: admin.table, collection: collection %>
      <footer class="main-content-footer">
        <%= hook("resource.index.footer") %>
        <%= render "trestle/table/pagination", collection: collection, entry_name: admin.model_name %>
      </footer>
    <% end %>
  </div>
</div>