<div class="documentation">
  <div class="video">
    <div class="video-block">
      <div class="video-header">
        <%=instance.html.html_safe%>
      </div>
      <div class="video-meta">
        <h1><%=instance.title%></h1>
        <div class="author-box">
          <div class="image">
            <span class="img" style="background-image:url()"></span>
          </div>
          <div class="details">
            <div class="detail-inner">
              <div class="author-name">
                <%=link_to(instance.author,instance.author_url)%>
              </div>
              <div class="meta">
                <span class="date"><%=instance.friendly_date%></span>
              </div>
              <p><%=instance.description%></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="video-sidebar">
      <h3>Hardware</h3>
      <div class="hardware-tags tags">
        <% instance.hardware_items.each do |hardware| %>
          <%=admin_link_to(admin: :hardware_items, action: :show, params: { id: hardware.id }, class: "btn btn-default") do%>
            <span><% if hardware.image.attached? %><%= image_tag(hardware.image.service_url, width: 150)%><% end %></span>
            <span><%= hardware.name%></span>
          <% end %>
        <% end %>
      </div>

      <h3>Vehicles</h3>
      <div class="vehicle-tags tags">
        <% instance.vehicle_configs.each do |vehicle| %>
          <a href="">
            <span><% if vehicle.image.attached? %><%= image_tag(vehicle.image.service_url, width: 150)%> <% end %></span>
            <span><%= vehicle.name%></span>
          </a>
        <% end %>
      </div>
    </div>
    <div class="comments">
      <h2>Discuss</h2>
      <%= render 'admin/comments', instance: instance %>
    </div>
  </div>
  
</div>