<div class="documentation">
  <div class="guide">
    <div class="author-box">
      <div class="actions btn-toolbar">
        <div class="btn-group">
          <%=admin_link_to("Edit", admin: :videos, action: :edit, params: { id: instance.slug }, class: "btn btn-default")%>
        </div>
      </div>
      <div class="image">
        <span class="img" style="background-image:url()"></span>
      </div>
      <div class="details">
        <div class="detail-inner">
          <div class="author-name">
            <%=instance.author%>
          </div>
          <div class="meta">
            <span class="date"><%=instance.friendly_date%></span>
          </div>
        </div>
      </div>
    </div>

    <h1><%=instance.title%></h1>

    <div class="content">
      <%=instance.html.html_safe%>
    </div>

    <div class="hardware-tags tags">
      <% instance.hardware_items.each do |hardware| %>
        <a href="">
          <span><%= image_tag(hardware.image.service_url, width: 150)%></span>
          <span><%= hardware.name%></span>
        </a>
      </div>
      <% end %>
    </div>
  </div>
  <div class="responses">
    <h4>Responses</h4>
    <%= commontator_thread(instance) %>
  </div>
</div>