<aside class="app-sidebar">
  <header class="app-sidebar-header">
    <button class="navbar-toggle">
      <span class="sr-only"><%= t("trestle.ui.toggle_navigation", default: "Toggle navigation") %></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <%= link_to Trestle.config.root, class: "navbar-brand" do %>
      <%= hook("view.title") { render "trestle/shared/title" } %>
    <% end %>
  </header>

  <div class="app-sidebar-inner">
    <nav class="app-nav">
      <ul class="external-actions">
        <li role="presentation" class="shop">
          <%= link_to "https://comma.ai/shop?ref=7", target: "_blank" do %>
            <%=icon('fa', 'fa-shopping-cart')%> Order Your Hardware
          <% end %>
        </li>
        <% if !current_user.blank? %>
        <li role="presentation">
          <%=link_to('Logout', '/sign_out')%>
        </li>
        <% else %>
        <li role="presentation" class="sign-in">
          <%= link_to "/users/auth/github" do %>
            <%=icon('fa', 'fa-github')%> Sign In with GitHub
          <% end %>
        </li>
        <% end %>
      </ul>
      <% collapsed = cookies["trestle:navigation:collapsed"].try(:split, ",") || [] %>
      <% Trestle.navigation.visible(self).each do |group, items| %>
        <ul class="<%= group.present? && group.label.present? ? group.label.parameterize : nil %> <% if group.present? && collapsed.include?(group.id) %>collapsed<% end %>">
          <% if group.present? %>
            <li class="nav-header"><%= link_to group.label, "##{group.id}" %><%=icon('fa','fa-caret-down')%></li>
          <% end %>

          <% items.each do |item| %>
            <li class="<% if current_navigation_item?(item) %>active<% end %> <%= item.present? && item.label.present? ? item.label.parameterize : nil %>">
              <%= link_to item.path do %>
                <%= icon("nav-icon", item.icon) %>
                <span class="nav-label"><%= item.label %></span>

                <%= content_tag(:span, item.badge.text, class: ["nav-badge", item.badge.html_class]) if item.badge? %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </nav>

    <button class="toggle-sidebar">
      <span class="sr-only"><%= t("trestle.ui.toggle_sidebar", default: "Toggle sidebar") %></span>
    </button>
  </div>
</aside>