<aside class="app-sidebar">
  <header class="app-sidebar-header">
    <button class="navbar-toggle">
      <span class="sr-only"><%= t("trestle.ui.toggle_navigation", default: "Toggle navigation") %></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="fa fa-times"></span>
    </button>

    <%= link_to Trestle.config.root, class: "navbar-brand" do %>
      <%= hook("view.title") { render "trestle/shared/title" } %>
    <% end %>
  </header>

  <div class="app-sidebar-inner">
    <nav class="app-nav">
      <% if admin.searchable? %>
      <div class="searchbox<% if params[:q] %> has-query<% end %>">
        <%= form_tag admin.path, method: :get do %>
          <div class="input-group">
            <span class="input-group-addon"><icon class="fa fa-search"></icon></span>
            <%= link_to icon("fa fa-times"), admin.path, class: "clear-search" if params[:q].present? %>
            <%= search_field_tag :q, params[:q], class: "form-control", autocomplete: "off", placeholder: admin.t("search.placeholder", default: "Search #{admin.human_admin_name}") %>
          </div>
        <% end %>
      </div>
      <% end %>
      <ul class="user-nav">
        <% if current_user.blank? %>
        <li role="presentation" class="sign-in">
          <%= link_to "/sign_in", class: "" do %>
            <%=icon("nav-icon", 'fa', 'fa-lock')%> Sign In
          <% end %>
        </li>
        <% end %>
      </ul>
      <% collapsed = cookies["trestle:navigation:collapsed"].try(:split, ",") || [] %>
      <% Trestle.navigation.visible(self).each do |group, items| %>
        <ul class="<%= group.present? && group.label.present? ? group.label.parameterize : nil %> <% if group.present? && collapsed.include?(group.id) %>collapsed<% end %>">
          <% if group.present? %>
            <li class="nav-header"><%= link_to group.label, "##{group.id}" %><%=icon('fa','fa-caret-down')%></li>
          <% end %>

          <% items.each do |item| %>
            <li class="<% if current_navigation_item?(item) %>active<% end %><% if group.present? && group.label.present? %> <%=group.label.parameterize%><% end %> <%= item.present? && item.label.present? && item.label.present? ? item.label.parameterize : nil %>">
              <%= link_to item.path do %>
                <%= icon("nav-icon", item.icon) %>
                <span class="nav-label"><%= item.label %></span>
                <%= content_tag(:span, item.badge.text, class: ["nav-badge"]) if item.badge? %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
      <% if current_user.present? %>
        <ul class="settings-nav">
          <li class="nav-header"><%= link_to "Settings", "#settings" %><%=icon('fa','fa-caret-down')%></li>
          <li>
              <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="user-icon nav-icon"><%=image_tag(current_user.avatar_url)%></span>
                <%=current_user.name%>
                <span class="caret"></span>
              </a>
          </li>
          <li><%=link_to('/sign_out') do%>
            <%= icon("nav-icon", "fa", "fa-angle-right") %>
            Log Out
          <% end %>
          </li>
        </ul>
      <% end %>
    </nav>
  </div>
</aside>