<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122297332-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-122297332-2');
  </script>
  <title><%= content_for?(:title) ? yield(:title) : 'Openpilot Community' %></title>
  <meta content='width=device-width, initial-scale=1' name='viewport'>
   <%= stylesheet_link_tag    'vendor', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= display_meta_tags reverse: true %>
</head>
<body>
<%# <div class="container">
<div class="row">
<div class="col-sm-4">

</div>
<div class="col-sm-8"> %>
<%= yield %>
<%# </div>
</div>
</div> %>
<script src="https://unpkg.com/react@16/umd/react.<%=Rails.env%>.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.<%=Rails.env%>.js" crossorigin></script>
</body>
</html>
