<div class="documentation">
  <div class="guide">
    <div class="actions btn-toolbar">
      <div class="btn-group">
        <%=admin_link_to("Edit", admin: :hardware_items, action: :edit, params: { id: instance.slug }, class: "btn btn-default")%>
      </div>
    </div>
    <h1><%=instance.name%></h1>

    <div class="content">
      <div class="image">
        <% if instance.image.attached? %>
          <span class="img" style="background-image:url(<%=instance.image.service_url%>)"></span>
        <% else %>
          <span class="img"><span class="fa fa-microchip"></span></span>
        <% end %>
      </div>
      <% if instance.description_markup.present? %>
        <%=instance.description_markup.html_safe%>
      <% end %>
      
      <% if instance.hardware_type.present? && instance.hardware_type.description_markup.present? %>
      <h2>About the <%=instance.hardware_type.name%></h2>

      <%= instance.hardware_type.description_markup.html_safe%>
      <% end %>
      <% if instance.available_for_purchase == true %>
        <h2>Where to purchase</h2>
        <% if instance.purchase_url.present?%>
        <p>These are available for purchase <a href="<%=instance.purchase_url%>" target="_blank">here</a>.</p>
        <% else %>
        <p>We've not found any url's where this can be purchased yet but if you check the Comma Slack, you may find someone that can sell you one.</p>
        <% end %>
        <% if instance.can_be_built%>
        <p>If you're handy, these can also be built yourself.  Check to see if there is a guide in the Guides section below.</p>
        <% end %>
      <% end %>

      <% if instance.requires_assembly %>
      <h2>Where to purchase</h2>
      <% if instance.purchase_url.present?%>
      <p>These are available for purchase <a href="<%=instance.purchase_url%>" target="_blank"></a>here</a>.</p>
      <% end %>
      <% end %>
      <% if instance.guides.present? %>
      <h2>Guides</h2>
      <% instance.guide_hardware_items.each do |ghi| %>
        <%= render "admin/guides/row", instance: ghi.guide, guide_hardware_item: ghi, hardware_item: ghi.hardware_item %>
      <% end %>
      <% end %>
    </div>
  </div>
  <div class="responses">
    <h4>Responses</h4>
    <%= commontator_thread(instance) %>
  </div>
</div>